---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import SocialPill from "../components/SocialPill.astro";
import Mail from "../icons/Mail.astro";
import Expirence from "../components/Expirence.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExpirenceIcon from "../icons/ExpirenceIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Juan D. Vasquez - Desarrollador y Programador Web Front-End"
  description="Hire Juan D. Vasquez to create your Web application. Front-End Web Developer."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://avatars.githubusercontent.com/u/63694042?v=4"
        alt="logo"
        id="contact"
      />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, I'm Juan Vasquez
        <a
          href="https://www.linkedin.com/in/juan-daniel-vasquez/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Available to work</Badge></a
        >
      </h1>
      <h2 class=" text-xl lg:text-2xl opacity-80 text-pretty max-w-[700px]">
        <span>+3 years of experience </span>
        <span class="text-amber-200">Software Developer.</span>
        <span class="text-red-200">From Canada Montreal, Quebec.</span>
        <span class="text-blue-200"
          >Specialized in creating optimal user experiences.</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/juan-daniel-vasquez/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/jparkingson">
          <GithubIcon class="size-4 md:size-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:vectordilan@gmail.com">
          <Mail class="size-4 md:size-6" />
          vectordilan@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ExpirenceIcon class="size-6 md:size-8" /> Work experience
      </h2>
      <Expirence />
    </SectionContainer>

	<SectionContainer id="projects">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
		  <CodeIcon class="size-6 md:size-8" /> Projects
		</h2>
		<Projects />
	  </SectionContainer>
  </main>
</Layout>
