---
import type { Code } from "astro:components";
import ExpirenceItem from "./ExpirenceItem.astro";
const Experience = [
  {
    date: "Junio 2020",
    title: "Jr. Software Developer",
    description:
      "My responsibility at BFJ Logistics was to be 100% connected with customers, offering a secure and faithful communication network between BFJ and customers. Handling exclusive requests, quotes, tracking and hardware manipulation. With my programming knowledge design, develop, and code web applications for customer accounts, which includes debugging issues diagnosing root causes, and identifying solutions",
    link: "#",
  },
 
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        Experience.map(experience =>(
            <li class="mb-10 ms-4">
            <ExpirenceItem {...experience}/>
            </li>
        ))
    }
</ol>
